<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Practise">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Practise.day1"/>
      <class name="Practise.day2"/>
    </classes>
  </test>
  
  <test thread-count="5" name="name">
    <classes>
      <class name="Practise.day1"/>
        <methods>
           <exclude name="Demo.*"/>
        </methods>
    </classes>
  </test>
  
</suite>

